#map {
    /* configure the size of the map */
    width: 512px;
    height: 512px;
}

#test1 {
    height: 30vh;
}

#test2 {
    height: 30vh;
}

h1 {
    text-align: center;
    height: 10vh;
}

body {
    background-color: lightgray;
}